body {
    background-image: url('https://github.com/Altctrlorg/www/blob/main/ACO-Gradient.PNG?raw=true'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    font-family: 'Nunito', sans-serif; /* Font settings */
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
